<%# TODO: Transition to using turbo-frames for comments %>
<% if comment.author  %>
  <%= content_tag :div, class: "grid grid-col-auto justify-start grid-flow-col outline" + " bg-blue-100 ml-10" do -%>
    <%#= tag.div class: "w-" + "#{nested_level + 10}" -%>
    <div class="outline">
      avatar
    </div>
    <div class="outline">
      <div>username</div>
      <div>username</div>
    </div>
  <% end -%>
<% end %>
