<!-- TODO: Show all notifications on its own page/route -->
<!-- TODO: Make notifications "read" immediately if realtime -->
<!--       Make notifications "read" if click on notifications bell -->
<div data-controller="toggle">
  <div data-toggle-target="content" class="hidden absolute right-0 top-full z-10 p-2 text-xs rounded shadow bg-slate-100">
    <%= turbo_stream_from "notifications_#{current_user.id}" %>
    <div class="font-bold mb-2">Notifications: </div>
    <%= turbo_frame_tag "notifications_#{current_user.id}" do %>
      <% current_user.notifications.each do |notification| %>
        <%= render "notifications/notification",
                   unread: notification.unread?,
                   creator: notification.to_notification.creator,
                   type: notification.type,
                   url: notification.to_notification.url
                   %>
      <% end %>
    <% end %>
  </div>
  <div data-action="click->toggle#toggle" class="cursor-pointer">
    <%= image_tag("bell-svgrepo-com.svg", :alt => "A bell icon", :class => "", size: "30x30") %>
  </div>
</div>
