<% if current_user %>
  <div class="container">
    <h6>Notifications</h6>
    <%= turbo_stream_from "panda" %>
    <%= turbo_frame_tag "panda" do %>
    <%#= turbo_stream_from "notifications_#{user.id}" %>
    <%#= turbo_frame_tag "notifications_#{user.id}" do %>
      <% @notifications.each do |notification| %>
        <%= render notification,
                    # author: notification.to_notification.creator, # NOTE: These are the methods we defined in app/notifications/comment_notification.rb
                    # post: notification.to_notification.post,
                    unread: notification.unread? %>
      <% end %>
    <% end %>
  </div>
<% end %>
