<div class="grid mt-4">
  <div class="grid justify-center">
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar_as_thumbnail("large").url) %>
    <% else %>
      <div class="border-gray-400 border-[10px]">
        <%= image_tag("no-profile-photo.svg", :alt => "An is;age representing no photo uploaded.", :class => "", size: "200x200") %>
      </div>
    <% end %>
  </div>
  <div id="<%= dom_id(@user) %>-friends" class="grid mt-6 bg-blue-500 rounded gap-[1px] outline outline-1 outline-blue-500">
    <div class="py-1 px-4 text-base text-white bg-blue-500 rounded">Friends</div>
    <div class="p-4 bg-slate-50">
      <%= link_to "See friends", "/users/#{@user.username}/friends" %>
    </div>
  </div>
</div>
