<main id="main">
  <%= form_for :chats, :url => "/chats/show", data: { turbo: false }, :html => { :method => 'GET' } do |f| %>
    <div class="grid mt-4 mb-6 w-max bg-blue-500 rounded gap-[1px] outline outline-blue-500 outline-1">
      <div class="py-2 px-4 text-base text-white bg-blue-500 rounded">Select a friend: </div>
      <div class="py-2 px-4 text-lg bg-neutral-50">
        <%= f.select :recipient_username, options_for_select(@friend_options), { include_blank: "Select" }, class: "text-xl" %>
        <%= f.submit name: "", value: "Go to chat",
            class: "bg-blue-500 hover:bg-blue-600 text-white tracking-wide py-1 px-3 rounded-lg cursor-pointer ml-4" %>
      </div>
    </div>
    <div>
    </div>
  <% end %>
</main>
