<% if @friend_request_already_sent %>
  <div class="mt-6 w-max">
    <div class="bg-white text-purple-700 font-semibold py-1 px-2 text-sm border border-gray-400 rounded">
      Friend request sent
    </div>
  </div>
<% else %>
  <div class="mt-6">
    <%= button_to "Send friend request", friend_requests_path, class: "bg-white hover:bg-gray-100 text-green-500 font-semibold py-1 px-2 text-sm border border-gray-400 rounded",
                    params: { friend_request: { recipient_id: @user.id, sender_id: current_user.id, confirmed: "false" }} %>
  </div>
<% end %>
