<%# posts/_form %>
<div class="text-red-500 font-bold">NOTE: We start with text posts only, hard-coded, change it after we have picture uploads</div>
<%= form_with model: post do |f| %>
  <%= f.submit %>
<% end %>
