<%= turbo_frame_tag post do %>
  <div class="p-4 mt-6 w-full bg-white rounded-lg shadow">
    <%= render "post-author-info", post: post %>
    <%= render "post-polymorphic-type", post: post %>
    <%= render "post-interactions", post: post %>
    <div id="post-comments">
      <div>comment</div>
      <div>comment</div>
      <div>comment</div>
    </div>
  </div>
<% end %>
