<%# Center the 2 boxes on the page %>
<%# align-content changes the cross-axis, but differently than align-items %>
<div class="flex justify-center items-center content-center flex-wrap p-10 border-2 border-red-600 h-full">
  <div class="h-48 w-96 border-4 border-blue-700">pawbook</div>
  <div class="h-48 w-96 border-4 border-blue-700">log in</div>
</div>
