@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
  font-family: "Montserrat", "Helvetica", "Arial", "Verdana", "Tahoma",
    sans-serif;
  /* background-color: SeaShell; */
  background-color: GhostWhite;
  /* background-color: LightGray; */
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
}

.logo-font {
  font-family: "Comfortaa";
}


.logo-image {
  display: inline-block;
}

.logo-header {

}

.arial {
  font-family: "Arial", sans-serif;
}

a {
  color: RoyalBlue;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

.image-upload > input {
  display: none;
}
.image-upload > label {
  cursor: pointer;
}

img {
  border: 0px !important;
  outline: 0 !important;
}

.circle-sm {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  /* padding: 10px; */
  background: LightBlue;
  color: white;
  text-align: center;
}

.circle-lg {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  padding: 10px;
  background: LightBlue;
  color: white;
  text-align: center;
}
