@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
  font-family: "Montserrat", "Helvetica", "Arial", "Verdana", "Tahoma",
    sans-serif;
  /* background-color: SeaShell; */
  background-color: GhostWhite;
  /* background-color: LightGray; */
  margin: 0;
  height: 100%;
  font-kerning: normal;
  letter-spacing: 0.01rem;
}

body {
  height: 100%;
}

/* Grid areas for normal layout */
#normal-layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "gutter-left    header-left   header-center     header-right  gutter-right"
    "gutter-left    nav           main              contacts      gutter-right"
    "gutter-left    footer-left   footer-center     footer-right  gutter-right";
  grid-template-rows: 3.5rem 1fr 3.5rem;
  grid-template-columns: 1fr 17rem 40rem 17rem 1fr;
}
#header-left {
  grid-area: header-left;
}
#header-center {
  grid-area: header-center;
}
#header-right {
  grid-area: header-right;
}
#nav {
  grid-area: nav;
}
#main {
  grid-area: main;
}
#contacts {
  grid-area: contacts;
}
#footer-left {
  grid-area: footer-left;
}
#footer-center {
  grid-area: footer-center;
}
#footer-right {
  grid-area: footer-right;
}

.logo-font {
  font-family: "Comfortaa";
}

.logo-image {
  display: inline-block;
}

.logo-header {
}

.arial {
  font-family: "Arial", sans-serif;
}

a {
  color: RoyalBlue;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

.image-upload > input {
  display: none;
}
.image-upload > label {
  cursor: pointer;
}

.avatar-circle {
  border-radius: 50%;
  background: LightBlue;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.avatar-circle-sm {
  height: 2.5rem;
  width: 2.5rem;
}

.avatar-circle-md {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.avatar-circle-lg {
  height: 12rem;
  width: 12rem;
  font-size: 8rem;
}

body {
  --spacing-nested-comment: 10%;
  --nesting-multiplier: 0.7;
  --comment-body: minmax(100px, 65%);
}
/* TODO: Can we abstract this css code */
.nested-comment-lvl-0 {
  grid-template-columns: var(--spacing-nested-comment) var(--comment-body) 1fr;
  /* grid-template-columns: var(--spacing-nested-comment) fit-content(150px) 1fr; */
}
.nested-comment-lvl-1 {
  grid-template-columns:
    calc(var(--spacing-nested-comment) * var(--nesting-multiplier) * 2)
    var(--comment-body) 1fr;
}
.nested-comment-lvl-2 {
  grid-template-columns:
    calc(var(--spacing-nested-comment) * var(--nesting-multiplier) * 3)
    var(--comment-body) 1fr;
}
.nested-comment-lvl-3 {
  grid-template-columns:
    calc(var(--spacing-nested-comment) * var(--nesting-multiplier) * 4)
    var(--comment-body) 1fr;
}
.nested-comment-lvl-4 {
  grid-template-columns:
    calc(var(--spacing-nested-comment) * var(--nesting-multiplier) * 5)
    var(--comment-body) 1fr;
}
