<div class="px-6 grid grid-cols-[auto_1fr_auto_auto] items-center h-12 bg-blue-500">
  <div class="mr-4 text-3xl font-bold text-stone-50 logo-font">
    pawbook
    <img class="logo-image" alt="A pawprint" src="/assets/paw-3-svgrepo-com-white-4e6202fbb52b4bc92f4bfd521bb93364eec3a8f0316ba19ce27c91c09061c06e.svg" width="25" height="25" />
  </div>
  <div>
    <div class="bg-white h-6 w-72 rounded-lg">search</div>
  </div>
  <div>notif.</div>
  <div>prof.</div>
</div>
