<%= render 'header' %>
<div class="grid grid-cols-[1fr_1fr_1fr] gap-8">
  <div class="justify-self-end">
    <%= render 'nav' %>
  </div>
  <div><%= yield %></div>
  <div>
    <%= render 'contacts' %>
  </div>
</div>
<% render 'footer' %>
<% parent_layout "base" %>
